---
import SubItem from "./subItem.astro"
const {content} = Astro.props;
const headers = content.astro?.headers;
const visualClasses = "text-slate-700 font-jetMono truncate pl-1 py-0.5 rounded-md duration-300"
const shadowClasses = " before:shadow-md before:absolute before:inset-0 before:duration-700  before:rounded-md before:opacity-30 before:transition-opacity before:ease-in-out"
const listClasses = visualClasses+shadowClasses;
function returnArrows(type){
  let tempObj = {}
  while(true){
    for (let index = 0; index < headers.length; index) {
      let header = headers[index];
      if(header.depth===1){
        let Head1 = header[type] 
        tempObj[Head1] = {};
        index++;
        header = headers[index];
        while( index < headers.length && header.depth!==1 )     {
            let Head2 = header[type];
            tempObj[Head1][Head2] = {};
            index++;
            header =  headers[index];
        }
      }
    }
    return tempObj;
  }
}
let arrowDepthHeadings = returnArrows("text");
let arrowDepthSlug = returnArrows("slug");
---
<ul class='p-2 flex flex-col gap-y-2'>
  {Object.keys(arrowDepthHeadings).map((i,index)=>(
    <li class='flex flex-col relative' >
      <a href={'#'+Object.keys(arrowDepthSlug)[index]} class="relative" >
      <p id={Object.keys(arrowDepthSlug)[index]+'-link'} class={listClasses} > {index+1}. {i} </p></a>
      {
        Object.keys(arrowDepthHeadings[i]).length===0 ? null : (
          <ul class='pl-1 pt-2 flex flex-col relative gap-y-2'>
            {Object.keys(arrowDepthHeadings[i]).map((j,jIndex)=>(<SubItem uid={Object.keys(Object.values(arrowDepthSlug)[index])[jIndex]+'-link'} link={'#'+Object.keys(Object.values(arrowDepthSlug)[index])[jIndex]} title={`${jIndex+1}. ${j}`} ></SubItem>))}
          </ul>
        )
      }
  </li>
  ))}
</ul>