<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Astro website</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style/tailwind.css">
    <link rel="stylesheet" href="/style/fonts.css">
    <script>
        const theme = localStorage.getItem('theme');
        if (theme === 'dark') {
            document.documentElement.classList.add('dark');
        } else if ( !(window.matchMedia('(prefers-color-scheme: dark)').matches) ) {
            localStorage.theme = "dark";
            document.documentElement.classList.add("dark");
        } else {
            document.documentElement.classList.remove("dark");
        }
    </script>
</head>