---
const { clx } = Astro.props
---
<button id="toggle" class={"flex-shrink-0 overflow-hidden rounded-full tab-highlight-none "+clx}>
  <canvas id="themeSwitchButton" width="39" height="39"></canvas>
</button>