---
import Head from "../components/INDEX/Header/Head.astro"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <Head/>
</head>
<body>
  <div class="flex flex-col items-center p-4 justify-center">
    <main class="stories" style="">
      <section class="user" style="">
        <article class="story">
          <h1 class="text-xl font-flow text-sky-400">Lorem ipsum dolor sit.</h1>
          <p class="text-lg text-indigo-400 font-flow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus placeat accusantium blanditiis inventore pariatur quasi laborum totam! Et quidem ad inventore reiciendis delectus!</p>
        </article>
        <article class="story">
          <h1 class="text-xl font-flow text-sky-100">Lorem ipsum dolor sit.</h1>
          <p class="text-lg text-indigo-100 font-flow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus placeat accusantium blanditiis inventore pariatur quasi laborum totam! Et quidem ad inventore reiciendis delectus!</p>
        </article>
        <article class="story">
          <h1 class="text-xl font-flow text-sky-900">Lorem ipsum dolor sit.</h1>
          <p class="text-lg text-indigo-900 font-flow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus placeat accusantium blanditiis inventore pariatur quasi laborum totam! Et quidem ad inventore reiciendis delectus!</p>
        </article>
      </section>
      <section class="user">
        <article class="story">
          <h1 class="text-xl font-flow text-violet-500">Lorem ipsum dolor sit.</h1>
          <p class="text-lg text-purple-400 font-flow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus placeat accusantium blanditiis inventore pariatur quasi laborum totam! Et quidem ad inventore reiciendis delectus!</p>
        </article>
        <article class="story">
          <h1 class="text-xl font-flow text-violet-500">Lorem ipsum dolor sit.</h1>
          <p class="text-lg text-purple-400 font-flow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus placeat accusantium blanditiis inventore pariatur quasi laborum totam! Et quidem ad inventore reiciendis delectus!</p>
        </article>
        <article class="story">
          <h1 class="text-xl font-flow text-violet-500">Lorem ipsum dolor sit.</h1>
          <p class="text-lg text-purple-400 font-flow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus placeat accusantium blanditiis inventore pariatur quasi laborum totam! Et quidem ad inventore reiciendis delectus!</p>
        </article>
      </section>
      <section class="user">
        <article class="story">
          <h1 class="text-xl text-pink-400 font-flow">Lorem ipsum dolor sit.</h1>
          <p class="text-lg text-yellow-400 font-flow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus placeat accusantium blanditiis inventore pariatur quasi laborum totam! Et quidem ad inventore reiciendis delectus!</p>
        </article>
        <article class="story">
          <h1 class="text-xl text-pink-400 font-flow">Lorem ipsum dolor sit.</h1>
          <p class="text-lg text-yellow-400 font-flow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus placeat accusantium blanditiis inventore pariatur quasi laborum totam! Et quidem ad inventore reiciendis delectus!</p>
        </article>
        <article class="story">
          <h1 class="text-xl text-pink-400 font-flow">Lorem ipsum dolor sit.</h1>
          <p class="text-lg text-yellow-400 font-flow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus placeat accusantium blanditiis inventore pariatur quasi laborum totam! Et quidem ad inventore reiciendis delectus!</p>
        </article>
      </section>
    </main>
  </div>
</body>
</html>