---
import Head from "../components/INDEX/Header/Head.astro"
import Tab from "../components/INDEX/Tab_Component/index.astro"

const nice = Astro.fetchContent("./markdown.md")
console.log(nice[0].astro.headers);
---
<!DOCTYPE html>
<html lang="en">
<head>
  <Head/>
</head>
<body>
  <Tab />
</body>
</html>