---
// Astro Tab Component
import Tab_Container from "./Tab_Container.astro"
import Tab_List from "./Tab_List.astro"
import Panels from "./Panels.astro"
---
<Tab_Container>
  <h1 class="text-5xl font-heading text-white dark:text-purple-600 shadow-project dark:dark-shadow-project">Projects</h1>
  <div class="tabbed flex flex-col items-center w-full sm:w-[600px] md:w-[720px] lg:w-[840px] pt-3">
    <Tab_List />
    <Panels />
  </div>
</Tab_Container>

<!-- <script src={Astro.resolve("./index.js")} ></script> -->