---
const Tab_Items = ["Best","Vue","Svelte"]
---
<ul class="flex place-content-around w-full font-heading gap-x-4 text-lg text-white tracking-wider">
  {Tab_Items.map((item,index)=>(
  <li class="">
    <a class="rounded-md px-2 py-1 focus-within:ring-2 focus:outline-none text-slate-500 dark:text-purple-400 transition-colors" href={`#section${index+1}`}>
      {item}
    </a>
  </li>
  ))}
</ul>